.letters-container{
    text-align: center;
    font-size: large;
    font-weight: 200;
    color: var(--seliseblue);
}

.letter:hover{
    font-size: 80px;
    font-weight: 600;
}
.user-list{
    max-height: 400px;
}
div:focus {
    background-color:red;
}

.greeting{
    font-size: 150%;
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
    
}
.user-dropdown{
    border-style: solid;
    border-color: var(--seliseblue);
    padding-top: 20px;
    border-width: thin;
}