.dropdown{
    
    float: right;
    margin-right: 53px;
    margin-top: 30px;
    
}
.container{
    
    background-color: rgb(255, 255, 255);
}

.logo{
    
    margin-left: 20px;
}

.time{
   
    padding-left: 300px;
    font-size: large;
    
}
