

<div class="user-greeting">
  Welcome {{selecteduser}}
</div>
<!-- {'background-image': 'url(' + food.imageURL + ')'} -->
<div class="container" fxLayoutGap="20" fxLayout="row wrap" fxLayoutAlign="center center">
  <div class="foodcontainer" fxFlex="46%" fxLayoutAlign="start start" [ngStyle]="styleObject(food)"
     (click)="selectedFood(food)" *ngFor='let food of foodList;'>
    <div class="foodname">
      {{food.name}}
      
    </div>
    <div *ngIf ="food.isSelected " class="icon">
      <mat-icon>done</mat-icon>
    </div>
    
    
  </div>
  <div class="btn-container" fxLayout="row" fxLayoutAlign="space-between center">
   
    <button class="back-btn" (click)="goBack()">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>

    <button class="submit-btn" (click)="openDialog()" mat-raised-button [disabled] = "!myChoices.length">Submit</button>
  </div>

</div>